body {
    font-family: "Roboto";
}
header{
    font-family: "Roboto";
}


a {
    text-decoration: none;
    color: black;
}

a:link {
    text-decoration: none;
}

.invertedcolor{
    filter: invert();
}

.imgcover {
    object-fit: cover;
}



.loader{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 5;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.hideafter3sec{
    animation: hideAnimation 1s ease-in 2s;
    animation-fill-mode: forwards;
}


@keyframes hideAnimation {
    0% {
      transform: scale(1);
      opacity: 1;
      border: 0;
    }
    
    
    100%{
        transform: scale(0);
        opacity: 1;
        width: 100%;
        height: 100%;
        border-radius: 500px;
        visibility: hidden;
    }
  }

.loaderlogo{
    width: 33%;
}

.loading-bar {
    margin-top: 30px;
    width: 35%;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .loading-bar-fill {
    height: 100%;
    background-color: #0077ff;
    border-radius: 5px;
    width: 0%;
    animation: fill-loading-bar 2s ease-in-out forwards;
  }

  
@keyframes fill-loading-bar {
    from {
      width: 0%;
    }
    to {
      width: 100%;
    }
  }

header {
    display: flex;
    flex-direction: column;
    margin-top: 1px;
    width: 100%;
}

.logocontainer {
    z-index: 1;
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);

}

.headerlogo {
    margin-top: 10px;
    width: 50%;
    height: 50%;
}

.locationcontainer {
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: #EAEAEA;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.locationtext {
    margin-left: 15px;
}

.presentationandbutton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;

}

.presentationandbutton h1 {
    width: 80%;
    font-size: 28px;
    text-align: center;
    margin-bottom: 0;

}

.presentationandbutton p {
    text-align: center;
    width: 92.5%;
    font-size: 18px;
    font-weight: 300;
}

.button {
    border: none;
    color: white;
    height: 55px;
    width: 60%;
    background: linear-gradient(-5deg,#9356DC -11.44%, #FF79DA 123.93%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 29px;
    margin-bottom: 50px;
    margin-top: 15px;
    cursor: pointer;
}

.button:hover{
    background: linear-gradient(180deg, #FF79DA,#9356DC);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}
.stepguidecard {
   position: relative;
    background-color: #F7F7F7;
    width: 87%;
    height: 70px;
    margin-left: 8%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.12);
    margin-bottom: 25px;
}

.stepguidetitle{
    margin-left: 5%;
}

.stepguidenumber {
    position: absolute;
    right: 95%;
    text-align: center;
    font-size: 15px;
    color: white;
    background-color: #9356dc;
    border: 1px solid #9356dc;
    border-radius: 30px;
    padding: 4px;
    width: 18px;

}

.stepguideicon {
    position: absolute;
    right: 83.5%;
    font-size: 20px;
    color: #7E7E7E;
}

.violeticon{
    color: #9356DC
}
.stepguidetext {
    display: flex;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

}

.restaurantscards {
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
}

.restaurantcard {
    position: relative;
    border-radius: 25px;
    margin-left: 3.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 250px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.12);
    margin-bottom: 20px;
}

.restaurantcardredirect{
    width: 100%;
    display: flex;
    padding-bottom: 5.5%;
    height: 230px;
}


.newbox {
    color: #008766;
    position: absolute;
    padding: 8px;
    background-color: #99E2D0;
    right: 4%;
    top: 2%;
    border-radius: 3px;
}

.restaurantsectiontitle {
    margin-left: 5%;
}
.restaurantimg {
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    width: 100%;
    height: 76%;
    object-fit: cover;
}
.imgsmaller{
    height: 40%;
}
.restaurantname {
    position: absolute;
    left: 4.5%;
    bottom: 15%;
    font-size: 19px;
    margin: 0;
}

.street {
    position: absolute;
    left: 4.5%;
    bottom: 5%;
    font-size: 19px;
    font-weight: 100;
    margin: 0;

}



.favoriteiconfull {
    position: absolute;
    bottom: 10%;
    right: 5%;
    position: absolute;
    font-size: 25px;
    color: red;
    transform: scale(0);
    transition: transform 1s;
    z-index: 0;
}   

.favoriteicon {
    padding: 5px;
    position: absolute;
    font-size: 25px;
    bottom: 8%;
    right: 3.5%;
    z-index: 1;

}

.favoriteicon:hover + .favoriteiconfull{
    transform: scale(1);
    
}

.favoriteicon:not(:hover) + .favoriteiconfull{
    visibility: visible;
    transform: scale(0);

}
.favoriteicon:active + .favoriteiconfull {
    visibility: visible;
    scale: (1);
}



footer {
    color: white;
    background-color: #353535;
    width: 100%;
    height: 200px;
}

.logofooter {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 30%;
    filter: invert();

}

.footercontent {
    margin-left: 5%;
    display: flex;
    flex-direction: column;
}

.footermarginbot {
    margin-bottom: 9px;
}


.restauranticon {
    margin-right: 5px;
}

.partnericon {
    font-size: 14px;
}

.logofooterdesktop{
    display: none;
}

/*---------------------- CSS MENU----------------------------------------*/
.returnarrow{
    text-decoration: none;
    position: relative;
    width: 5%;
    height: 17px;
    position: absolute;
    left: 5%;
}

.returnarrowicon{
    font-size: 21px;
}

.favoriteiconfullmenu{
        position: absolute;
        right: 7.5%;
        font-size: 23px;
        color: red;
        transform: scale(0);
        transition: transform 1s;
        z-index: 0;
    

}

.favoriteiconmenu:hover + .favoriteiconfullmenu{
    transform: scale(1);
    
}

.favoriteiconmenu:not(:hover) + .favoriteiconfullmenu{
    visibility: visible;
    transform: scale(0);

}
.favoriteiconmenu:active + .favoriteiconfullmenu{
    visibility: visible;
    scale: (1);
}

.imgheadersmaller {
    height: 250px;
}
.menucontainer{
    position: relative;
    z-index: 2;
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    align-items: center;
    margin-top: -80px;
}
.restaurantnameandfavicon{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.restaurantnamebig{
    font-family: "Shrikhand";
    font-size: 28px;
    margin-left: 5%;
}

.favoriteiconmenu{
    padding: 5px;
    position: absolute;
    right: 6%;
    font-size: 24px;
    cursor: pointer;
    z-index: 1;
}

.stepofthemenu {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.stepofthemenutitle {
    width: 95%;
    margin-left: 5%;
    text-transform: uppercase;
}

.menucard {
    position: relative;
    padding-left: 5%;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    width: 90%;
    margin-bottom: 15px;
    border-radius: 20px;
    cursor: pointer;
}

.appetizer{
    margin-left: 200%;
    animation: menuappearance 2s ease-in-out 1s forwards;
}
.maincourse{
    margin-left: 200%;
    animation: menuappearance 2s ease-in-out 3s forwards;
}
.dessert{
    margin-left: 200%;
    animation: menuappearance 2s ease-in-out 5s forwards;
}

@keyframes menuappearance{
    0%{
        
    }
    100%{
        margin-left: 0;

    }


}
.checkmark{
    background: #99E2D0;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 5%;
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: absolute;
    right: 0%;
    top: 0;
    visibility: hidden;
}

.checkmarkicon{
    color: white;
    font-size: 25px;
}
.menucard:hover .checkmark{
    visibility: visible;
    animation: checkmarkAnimation 1s ease-in-out forwards;
}

.menucard:hover .checkmarkicon{
    visibility: visible;
    animation: checkmarkAnimation 1s ease-in-out forwards;
}

@keyframes checkmarkAnimation{
    0%{
        font-size: 0;
        width: 0;

    }
    100%{ 
        font-size: 25px;
        width: 4%;

    }
}


.food{
    margin: 0;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 18px;

}
.sidedish{
    margin: 0;
    font-weight: 300;
    font-size: 15px;
    margin-bottom: 10px;

}

.price{
    position: absolute;
    font-weight: 700;
    font-size: 15px;
    bottom : 1% ;
    right : 5%;
}


/*---------------------------------RESPONSIVE TABLETTE--------------------------------------*/
@media screen and (min-width: 800px) {
.headerlogo{
    width: 20%;
}
.button{
    width: 30%;
}
.stepguidetitle{
    width: 100%;
    text-align: center;
    margin-left: 0;
}
.stepbystepguide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.stepguidecard{
    margin-left: 0;
    width: 50%;
}
.stepguidenumber{
    right: 97.3%;
}
.restaurantscardssection{
    background-color: #f6f6f6;
}

.restaurantsectiontitle{
    margin-left: 0;
    padding-top: 20px;
    width: 100%;
    text-align: center;
    
    margin-left: 0;
}
.restaurantscards{
    align-items: center;
    
}
.restaurantcard{
    margin-left: 0;
    width: 60%;
}

.footercontent{
    margin-left: 0;
    align-items: center;
}

}

/*---------------------------------RESPONSIVE Desktop--------------------------------------*/

@media screen and (min-width: 1180px) {

    .headerlogo{
        width: 20%;
    }
    
    .button{
        width: 20%;
    }
    .stepguidesection{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
    }
    .stepbystepguide{
        width: 80%;
        display: flex;
        flex-direction: row;
        margin-left: 12.5%;
    }
    .stepguidetitle{
        width: fit-content;
        margin-left: 12.5%;

    }

    .stepguidenumber{
        right: 96%;
    }

    .stepguidecard{
        width: 100%;
        margin-left: 0;
        margin-right: 4% ;
    }
    .restaurantsectiontitle{
        width: fit-content;
        margin-left: 12.5%
    }
    .restaurantscardssection{
        display: flex;
        flex-direction: column;
        background-color: #f6f6f6;
        
        
    }
    .restaurantscards{
        display: flex;
        width: 87.5%;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 12.5%;
    }
    .restaurantcard{
        display: flex;
        width: 40%;
        margin-right: 8%;
        margin-left: 0;
    }

    .restaurantimgcontainer{
        display: flex;
        border: 5px solid red;
        height: 100%;
    }

   

    footer{
        height: 120px;
    }
    .footercontent{
        flex-direction: row;
        align-items: center;
        justify-content: end;
    }
    .logofooter{
        display: none;
    }
    .logofooterdesktop{
        display: flex;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 10%;
        filter: invert();
        margin-left: 5%;
        margin-right: 5%;
    }
    .footermarginleft{
        margin-left: 1%;
    }
    .footermargintop{
        margin-top: 60px;
    }
    .footermarginbot{
        margin-bottom: 15px;
    }
}   

